.btn-edit, .btn-delete {
  @extend .btn;
  @extend .btn-default;
  @extend .btn-sm;
}

.btn-delete:hover {
  @extend .btn-danger;
}

//

.bootstrap-select .btn:focus {
  outline: none !important;
}

.form-control-calculated {
  @extend .form-control;
  border: none;
  box-shadow: none;
  margin-top: 2px;
}

.form-horizontal .form-actions {
  @extend .col-sm-offset-3;
  padding-left: 6px;
}

.form-horizontal {
  max-width: 480px;
}

#autoshow-form-buttons {
  @extend hr;
  display: none;
  padding-top: 20px;
}

#undo-my-changes {
  @extend .btn;
  @extend .btn-link;
}

.form-actions input[type="submit"] {
  margin-right: 15px;
}