// Make invalid number fields show red. They don’t sumbit when invalid.
input[type=number]:invalid {
  background-color: #F00;
  color: white;
  font-weight: bold;
}

// Make enum_radio_buttons show blue when selected, not gray
[data-toggle="buttons"] .btn-default.active,
.enum_radio_buttons .btn-default.active {
  @extend .btn;
  @extend .btn-primary;
  @extend .active;
}

// Disable WebKit's and Safari’s spinner on numeric fields, from http://stackoverflow.com/questions/3975769/disable-webkits-spin-buttons-on-input-type-number
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=number] {
    -moz-appearance:textfield;
}


.btn-edit, .btn-delete {
  @extend .btn;
  @extend .btn-default;
  @extend .btn-sm;
}

.btn-delete:hover {
  @extend .btn-danger;
}

//

.bootstrap-select .btn:focus {
  outline: none !important;
}

.form-control-calculated {
  @extend .form-control;
  border: none;
  box-shadow: none;
  margin-top: 2px;
}

.form-horizontal .form-actions {
  @extend .col-sm-offset-3;
  padding-left: 6px;
}

.form-horizontal {
  max-width: 480px;
}

#autoshow-form-buttons {
  @extend hr;
  display: none;
  padding-top: 20px;
}

#alwaysshow-form-buttons {
  @extend .col-sm-offset-3;
  padding-top: 20px;
  padding-left: 15px;
}

#undo-my-changes, #cancel-my-changes, #delete-record {
  @extend .btn;
  @extend .btn-link;
}

#delete-record {
}

.form-actions input[type="submit"] {
  margin-right: 15px;
}