#approval_form {
  
  text-align: center;
  
  form {
    text-align: left;
    width: 500px;
  }
  
  .heading {
    text-align: center;
  }

  .btn-approve {
    @extend .btn;
    @extend .btn-success;
    @extend .btn-lg;
    font-weight: bold;
    
    margin-right: 15px;
  }

  .btn-disapprove {
    @extend .btn;
    @extend .btn-danger;
    @extend .btn-lg;
  }
  
  .question {
    font-size: 18px;
    margin-bottom: 18px;
  }
  
  #reset_signature_canvas, .btn-cancel {
    font-weight: normal;
    color: gray !important;
    text-decoration: underline;
    font-size: 12px;
    @extend .btn;
  }
  
  #reset_signature_canvas {
    margin-top: -3px;
    float: right;
  }
  
  #signature_canvas {
    border: 1px solid #ccc;
    border-radius: 4px;
    clear: none;
  }

  #signature_canvas_container {
    clear: none;
  }
  
}