#add_timesheet_entry_form {
  display: none;
}

#cancel_timesheet_entry_link {
  @extend .btn;
  @extend .btn-link;
  @extend .btn-xs;
}

.employee, .vehicle {
  @extend .btn-group;
  float: left;
  clear: both;
  margin-bottom: 10px;
}

.employee-button, .vehicle-button {
  @extend .btn;
  @extend .btn-primary;
  @extend .dropdown-toggle;
}

.timesheet-status-heading {
  float: left;
  clear: both;
}